<h1>Makers BnB</h1>
<h2>Add a Space</h2>
<form method="post" action="/add-space">
  <%= "Space Name: " %><input type="text" name="space_name" placeholder="Space Name"/><br><br>
  <%= "Description: " %><input type="textarea" name="description" placeholder="Description" maxlength="500"/><br><br>
  <%= "Nightly Rate: " %><input type="text" name="rate" placeholder="Nightly Rate"/><br><br>
  <input type="submit" value="Add Space"/>
</form>
