<h2>Successfully added a space!</h2>
<form method="get" action="/add-space">
  <input type="submit" value="Add Another Space"/>
</form>
<form action="/spaces/<%= @spaces.id %>" method="post">
  <input type="submit" value="View Your Space"/>
</form>