<h1>Makers BnB</h1>
<h2>Successfully added a space!</h2>
<form method="post" action="/g">
  <input type="submit" value=""/>
</form>
<form method="post" action="/">
  <input type="submit" value="Sign In"/>
</form>