<h1>Makers BnB</h1>
<h2>Successfully added a space!</h2>
<form method="get" action="/add-space">
  <input type="submit" value="Add Another Space"/>
</form>
<form method="post" action="/space/:id">
  <input type="submit" value="View Your Space"/>
</form>