<html>
<head>
  <meta charset="utf-8">
  <title>Makers BnB</title>
  <link rel="stylesheet" href="<%= '/style.css' %>">
</head>
<body>
<h1>Makers BnB</h1>
<section class="layout-navbar">
  <a href="/">Home</a>
  <a href="/spaces">View spaces</a>
  <a href="/<%= "#{session[:user_id]}/spaces" %>">My Listings</a>
  <% if session[:user_id].nil? %>
    <a href="/sign-in" class="layout-navbar-right">Sign in</a>
  <% else %>
    <a href="/add-space">Add a space</a>
    <p class="layout-navbar-right"><%= session[:username] %></p>
    <a href="/sign-out" class="layout-navbar-right">Sign out</a>
  <% end %>
</section>
<%= yield %>
</body>
</html>
