<html>
<head>
  <meta charset="utf-8">
  <title>Makers BnB</title>
  <link rel="stylesheet" href="<%= '/style.css' %>">
</head>
<body>
<h1> <a href="/spaces">Makers BnB</a></h1>
<section class="layout-navbar">
  <% if session[:user_id].nil? %>
  <a href="/sign-in" class="layout-navbar-right">Sign in</a>
  <% else %>
  <a href="/add-space" class="layout-navbar-right">Add a space</a>
  <a href="/<%= '#{session[:user_id]}/spaces' %>" class="layout-navbar-right">My Listings</a>
  <a href="/<%= '#{session[:user_id]}/requests' %>" class="layout-navbar-right">My requests</a>
  <a href="/sign-out" class="layout-navbar-right">Sign out</a>
  <% end %>
</section>
<%= yield %>
</body>
</html>
