<% @bookings.each do | request |%>
  <section id=<%=request.id%>>
    <p><%= request.date_from %></p> 
    <p><%= request.date_to %></p> 
    <p><%= request.confirmed %></p> 
    <br>
  </section>
<% end %>