<h2>Sign Up</h2>

<%= [:incomplete_sign_up] %>

<form action='/sign-up' method='post'> 
  <label for='username'>
    Create a username
  </label>
  <br>
  <input type='text' name='banana'
    minlength="1" maxlength="20" 
    oninvalid="this.setCustomValidity('Please enter a username for your account, it cannot be longer than 20 characters')" 
    oninput="this.setCustomValidity('')"/>
  <br>
  <label for='email'>
    Enter an email address
  </label>
  <br>
  <input type='text' name='email'
    minlength="1" maxlength="40" 
    oninvalid="this.setCustomValidity('Please enter your email address')" 
    oninput="this.setCustomValidity('')">
  <br>
  <label for='password'>
    Create a password
  </label>
  <br>
  <input type='password' name='password'
    minlength="1" maxlength="20" 
    oninvalid="this.setCustomValidity('Please enter a password for your account, it cannot be longer than 20 characters')" 
    oninput="this.setCustomValidity('')">
  <br>
  <br>
  <input type='submit' value='Sign up'>
</form>
