<h2>Sign Up</h2>

<form action='/sign-up' method='post'> 
  <label for='username'>
    Create a username
  </label>
  <br>
  <input type='text' required name='username' oninvalid="this.setCustomValidity('Enter your username here')"
  oninput="this.setCustomValidity('')">
  <br>
  <label for='email'>
    Enter an email address
  </label>
  <br>
  <input type='email' required name='email' oninvalid="this.setCustomValidity('Enter your email here')"
  oninput="this.setCustomValidity('')">
  <br>
  <label for='password'>
    Create a password
  </label>
  <br>
  <input type='password' required name='password' oninvalid="this.setCustomValidity('Enter your password here')"
  oninput="this.setCustomValidity('')">
  <br>
  <br>
  <input type='submit' value='Sign up'>
</form>
