<h1>Makers BnB</h1>
<a href='/'>Home</a>
<a href='/sign-up'>Sign Up</a>
<h2>Sign Up</h2>
<form action='/sign-up' method='post'> 
  <label for='name'>
    Enter your name
  </label>
  <br>
  <input type='text' name='name'>
  <br>
  <label for='email'>
    Enter your email address
  </label>
  <br>
  <input type='text' name='email'>
  <br>
  <label for='password'>
    Create your password
  </label>
  <br>
  <input type='password' name='password'>
  <br>
  <input type='submit' value='Submit'>
</form>