<h2>Sign in to your Makers BnB account</h2>

<%= flash[:incorrect_details] %>

<form action="/sign-in-input" method="post">
  <label for="email">Enter your email</label>
  <br>
  <input type="text" name="email">
  <br>
  <label for="password">Enter your password</label>
  <br>
  <input type="password" name="password">
  <br>
  <br>
  <input type="submit" value="Sign in">
</form>
<br>
<form action="/sign-up" method="get">
  <p>Don't have an account? <input type="submit" value="Sign up"></p>
</form>
