<h2>Sign in to your Makers BnB account</h2>

<%= flash[:incorrect_details] %>

<form action="/sign-in-input" method="post">
  <label for="email">Enter your email</label>
  <br>
  <input type="email" required name="email" oninvalid="this.setCustomValidity('Enter your email here')"
  oninput="this.setCustomValidity('')">
  <br>
  <label for="password">Enter your password</label>
  <br>
  <input type="password" required name="password" oninvalid="this.setCustomValidity('Enter your password here')"
  oninput="this.setCustomValidity('')">
  <br>
  <br>
  <input type="submit" value="Log in">
</form>
<br>
<form action="/sign-up" method="get">
  <p>Don't have an account? <input type="submit" value="Sign up"></p>
</form>
