<h2>Sign in to your Makers BnB account</h2>

<%= flash[:incorrect_details] %>

<form action="/sign-in-input" method="post">
  <label for="email">Enter your email</label>
  <br>
  <input type="email" name="email" required
       minlength="1" maxlength="40" 
       oninvalid="this.setCustomValidity('Please enter your email address')" 
       oninput="this.setCustomValidity('')"/>
  <br>
  <label for="password">Enter your password</label>
  <br>
  <input type="password" name="password"required
       minlength="1" maxlength="20"
       oninvalid="this.setCustomValidity('Please enter your password')"
       oninput="this.setCustomValidity('')"/>
  <br>
  <br>
  <input type="submit" value="Log in">
</form>
<br>
<form action="/sign-up" method="get">
  <p>Don't have an account? <input type="submit" value="Sign up"></p>
</form>
