<h1>Sign Up</h1>
<%# Add an action and method %>
<form> 
  <label for='name'>
    Enter your name
  </label>
  <br>
  <input type='text' name='name'>
  <br>
  <label for='email'>
    Enter your email address
  </label>
  <br>
  <input type='text' name='email'>
  <br>
  <label for='password'>
    Create your password
  </label>
  <br>
  <input type='text' name='password'>
  <br>
  <input type='submit' value='Submit'>
</form>